<footer class="pt-4 md:pt-2.5">
  <div class="w-full min-h-[200px] text-white bg-neutral-950 flex items-center justify-center">
    <div>
      <div class="w-full sm:text-sm mb-4">#ECSA</div>
      <div class="w-full flex flex-col justify-between">
        <div class="block">
          <a class="inline-block p-2.5 hover:opacity-80" href="https://twitter.com/ECSACONF" target="blank">
            <svg class="fill-white w-8 h-8"><use xlink:href="{{ '/assets/graphics/sprites.svg#twitter' | relative_url }}"></use></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full min-h-[100px] text-neutral-300 bg-neutral-800 flex items-center justify-center">
      <div class="sm:text-sm">Copyright © 2023 ECSA</div>
  </div>
</footer>